*.csv
# emacs backup
*~
*.tsv
*.txt
*.zip
*.pdf
*.log
# help packages
helpeR/man
# tex helping files from emacs
writeup/macros/auto
writeup/_main.Rmd
esa
manuscript_input
data
writeup/.quarto/
writeup/latextest_files/
writeup/reporteR/man/
*.el

/.quarto/
*/test_files/
test_sampler/results/
test_sampler/sampler_files/
test_sampler/simplify_files/
test_sampler/chains/
results/
